.instructionsModal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 30px;

  .instructionsContainer {
    margin: auto;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 1.5rem;

    h1 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      text-decoration: underline;
    }

    li {
      margin-bottom: 1rem;
      font-size: 1rem;
    }

    .btnContainer {
      text-align: center;
    }
  }
}
