.question {
  background: url('../../images/question1Background.png');
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  .menuContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);

    .menuItem {
      cursor: pointer;
    }

    .hintContainer {
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        margin-right: 10px;
      }
    }
  }

  .questionContainer {
    margin: auto;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 2rem 1rem;
    margin-bottom: 50px;
    text-align: center;

    h2 {
      margin-bottom: 1rem;
    }

    p {
      font-size: 16px;
      line-height: 1.5rem;
      color: rgba(60, 60, 60);
      margin-bottom: 1rem;
    }

    .answerContainer {
      .inputContainer {
        margin-bottom: 1rem;
      }
    }
  }
}

.coinQuestion {
  text-align: center;

  p {
    line-height: 1.5;
  }
}
